/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #fff }  /* plain text */

$monokai-pink: #F92672;
$monokai-green: #A6E22E;
$monokai-yellow: #E6DB74;

@media screen {
  .str,
  .string { color: $monokai-yellow; }  /* string content */
  .kwd,
  .keyword { color: #66D9EF; }  /* a keyword */
  .com,
  .comment { color: #75715E; }  /* a comment */
  .typ { color: $monokai-green; }  /* a type name */
  .lit,
  .number { color: #AE81FF }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* .pun, .opn, .clo { color: #660 } */
  .tag { color: $monokai-pink; }  /* a markup tag name */
  .atn { color: $monokai-green; }  /* a markup attribute name */
  .atv { color: $monokai-yellow; }  /* a markup attribute value */
  /*.dec, .var { color: #606 }*/  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  padding: 2px;
  background-color: #49483E;
  font-size: 14px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px;
  li {
    background-color: #272822;
    padding-left: 10px;
  }
}