/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {

  /* Black prints faster: sanbeiji.com/archives/953 */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter:none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    color: #000 !important;
  }

  /* Don't show links for images, or javascript/internal links */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  
  tr, img {
    page-break-inside: avoid;
  }
  
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  
  p, h2, h3, h4 {
    orphans: 3;
    widows: 3;
  }
  
  h2, h3, h4 {
    page-break-after: avoid;
  }

  .grid_12 {
    clear: both;
    display: block;
    float: none;
  }

  .right {
    text-align: right;
  }

  @import "720";

  .no-print,
  h3 sup,
  nav li,
  footer {
    display: none;
  }

  .res-exp {
    width: 700px !important;
  }

  header.grid_10 {
    text-align: left;
  }

  .contact_1,
  .contact_2,
  .contact_3,
  .contact_4 {
    position: absolute;
    right: 0;
    top: .4em;
  }
  .contact_2 {
    top: 1.5em;
  }
  .contact_3 {
    top: 2.6em;
  }
  .contact_4 {
    display: block;
    top: 3.7em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.3em;
    margin-top: .5em;
  }

  h1 {
    font-family: 'Tinos', sans-serif;
  }

  .grid_4 > ul,
  .grid_3 > ul {
    margin: .5em 0;
  }
}