!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Brian Ford
    meta(name='description', content='')
    meta(name='author', content='Brian Ford')
    //- Mobile viewport optimized: j.mp/bplateviewport 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- CSS: implied media="all" 
    link(href='http://fonts.googleapis.com/css?family=Raleway:100|Tinos:normal|Lato:400,700,400italic,700italic', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(rel="alternate", type="application/rss+xml", title="RSS", href="/blog.rss")
  body
    .container_12(role='main')
      section !{body}
      footer.clearfix.container_12
        :markdown
          [<i class="icon-envelope-alt"></i>](mailto:btford@umich.edu)
          [<i class="icon-twitter"></i>](http://twitter.com/briantford)
          [<i class="icon-github"></i>](https://github.com/btford)
          [<i class="icon-google-plus-sign"></i>](https://plus.google.com/118020397223309256905/posts)
          [<i class="icon-rss"></i>](/blog.rss)
        p.copyright Copyright © Brian Ford
    script
      var _gaq=[['_setAccount','UA-21659439-1'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
