!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Brian Ford
    meta(name='description', content='')
    meta(name='author', content='Brian Ford')
    //- Mobile viewport optimized: j.mp/bplateviewport 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- CSS: implied media="all" 
    link(href='http://fonts.googleapis.com/css?family=Raleway:100|Tinos:normal', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/libs/respond.min.js')
    link(rel="alternate", type="application/rss+xml", title="RSS", href="/blog.rss")
  body
    #container.container_12
      header.grid_12
        a#hdr(href='/')
          h1 Brian Ford
      #main.container_12(role='main')
        block main
      footer.clearfix.container_12
        span
          |  Copyright ©
          |  Brian Ford
          |  | 
          a(href='mailto:btford@umich.edu') btford@umich.edu
          |  | 
          a(href='http://twitter.com/briantford') @briantford
        #support
          a(href='http://www.w3.org/html/logo/')
            img(alt='made with love and html5', src='/img/html5.png')
    script
      var _gaq=[['_setAccount','UA-21659439-1'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
