!!! 5
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title Brian Ford
    meta(name='description', content='')
    meta(name='author', content='Brian Ford')
    //- Mobile viewport optimized: j.mp/bplateviewport 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- CSS: implied media="all" 
    link(href='http://fonts.googleapis.com/css?family=Raleway:100|Tinos:normal', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/style.css')
    //-
       All JavaScript at the bottom, except for Modernizr and Respond.
             Modernizr enables HTML5 elements & feature detects;
             Respond is a polyfill for min/max-width CSS3 Media Queries 
    //-
       <script src="/js/libs/modernizr-1.7.min.js"></script> 
    script(src='/js/libs/respond.min.js')
  body
    #container.container_12
      header.grid_10
        a#hdr(href='/')
          h1 Brian Ford
      nav.grid_2
        ul
          li
            a(href='/blog') Blog
          li
            a(href='/school') School
          li
            a(href='/work') Work
          li
            a(href='/resume') Resume
      #main.container_12(role='main')
        block main
      footer.clearfix.container_12
        span
          |  Copyright ©
          |  Brian Ford
          |  | 
          a(href='mailto:btford@umich.edu') btford@umich.edu
          |  | 
          a(href='http://twitter.com/#!/briantford') @briantford
        #support
          a(href='http://www.w3.org/html/logo/')
            img(alt='made with love and html5', src='/img/html5.png')
    //- end of #container 
    //- JavaScript at the bottom for fast page loading 
    //- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script
      window.jQuery ||  document.write('<script src="js/libs/jquery-1.7.2.min.js">\\x3C/script>')
    //- scripts concatenated and minified via ant build script
    //- script(src='/js/plugins.js')
    //- script(src='/js/script.js')
    //- end scripts
    script
      var _gaq=[['_setAccount','UA-21659439-1'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
