extends templates/main

block main
  section.grid_6
    h2 Welcome to my personal site.
    p Unfortunately, it is still under heavy construction.
    p It will likely be in a constant state of heavy construction.

  section.grid_6
    h2 Recently...
    p
      span.date [2011.04.20]
      |  I competed in the 
      a(href='/etc/projects/datamining') Yahoo Data Mining Competition 
      |  at the University of Michigan.
    //-
      p
        span.date [2011.04.06]
        |  I began a
        a(href='/etc') project
        |  called
        a(href='/etc/projects/sortjs') Sort.js
        | .
    p
      span.date [2011.03.26]
      |  I competed in 
      a(href='http://www.facebook.com/camphackathon') Facebook Camp Hackathon
      |  at the University of Michigan and helped write an application called 
      a(href='/etc/projects/socjam') Social Jam
      | .
    p
      span.date [2011.01.21]
      |  I competed in the Wolverinesoft 
      a(href='http://wolverinesoft.org/event/contest/48hourcontest8/') 48-Hour Game Development Competition
      |  at the University of Michigan.
    p
      span.date [2011.01.14]
      |  I began a
      a(href='/etc') project
      |  called
      a(href='/etc/projects/jsgamelib') jsGameLib
      | .
