extends templates/main

block main
  section.grid_3
    :markdown
      ##[Blog](/blog)
  section.grid_3
    :markdown
      ##[Google+](https://plus.google.com/118020397223309256905/posts)
  section.grid_3
    :markdown
      ##[Twitter](http://twitter.com/#!/briantford)
  section.grid_3
    :markdown
      ##[Github](https://github.com/btford)
