extends templates/main

block main
  section.grid_6
    h2 Welcome to my personal site.
    p Unfortunately, it is still under heavy construction.
    p It will likely be in a constant state of heavy construction.

  section.grid_6
    h2 Recently...
    :markdown
      <span class="date">[2012.07.16]</span> I wrote some [blog posts](/blog/).
      
      <span class="date">[2011.04.20]</span> I competed in the
      [Yahoo Data Mining Competition](/etc/projects/datamining) at the University of Michigan.

      <span class="date">[2011.04.06]</span> I began a [project](/etc) called
      [Sort.js](/etc/projects/sortjs).

      <span class="date">[2011.03.26]</span> I competed in
      [Facebook Camp Hackathon](http://www.facebook.com/camphackathon) at the University of
      Michigan and helped write an application called [Social Jam](/etc/projects/socjam).

      <span class="date">[2011.01.21]</span> I competed in the Wolverinesoft 
      [48-Hour Game Development Competition](http://wolverinesoft.org/event/contest/48hourcontest8/)
      at the University of Michigan.

      <span class="date"> [2011.01.14]</span> I began a [project](/etc) called
      [jsGameLib](/etc/projects/jsgamelib).
