extends ../../templates/main

block main
  h2 About Me (as an Aspiring Software Developer)
  section
    h3 The Really Important Stuff
    ul
      li
        |  I prefer
        a(href='http://www.jwz.org/doc/tabs-vs-spaces.html') spaces
        |  over
        a(href='http://www.codinghorror.com/blog/2009/04/death-to-the-space-infidels.html') tabs
        |  .
      li
        |  I prefer
        a(href='http://en.wikipedia.org/wiki/Indent_style#Allman_style_.28bsd_in_Emacs.29') Allman (ANSI) style indentation
        |  .
      li I prefer vi over emacs, but Textmate over both of those.
    h3 Interests
    p
      |  I am fascinated with the web, emerging technologies (such as HTML5), mobile development, and software engineering processes and methodologies (especially Agile).
