extends ../../templates/main

block main
  h2 Things That I Like
  section
    p
      |  This page consists of various lists of books, blogs, etc that I find pleasing and oft recommend to other people interested in software.
    h3 Books
    p This list is empty.
    h3 Sites
    p This list is empty.
    h3 Projects
    p This list is poorly organized and incomplete.
    ul
      li
        a(href='http://www.jslint.com/') JSLint
        |  : A static code analysis tool for JavaScript developed by Douglas Crockford. I use jslint so much,
        a(href='/etc/scripts/textmate') I bound it to the save key for JavaScript files in Textmate
        |  . I also highly recommend the mailing list for anyone interested in writing good JavaScript.
