extends ../../../templates/main

block main
  h2 Eat Your Veggies
  section
    p
      span.date [2011.01.21]
    p
      |  Eat Your Veggies is a game developed by my team for the
      a(href='http://wolverinesoft.org/event/contest/48hourcontest8/') University of Michigan’s Wolverinesoft 8th Annual Video Game Development Contest
      |  . Graphics by Evan Clark, co-programmed by myself and Sharon Lee.
    p
      a(href='/files/eatyourveggies/play.html') Play the game
      |  . It was tested in only Google Chrome, but it seems to work alright in Firefox as well. Also, you may have to zoom out a bit; the game was optimized for the 1080p displays for the competition.
    p
      |  The
      a(href='/files/eatyourveggies/eatyourveggies.zip') source code
      |  is downloadable here. All code is released under the MIT License, but all graphics are copyright to Evan Clark.
    p
      |  Although there are clearly some areas in which this game could be improved, I am overall very proud of the work myself and my teammates did in just two days to make this.
