extends ../templates/main

block main
  h2 School
  section
    :markdown
      I am currently an undergraduate studying [computer science](http://www.eecs.umich.edu/cse/)
      at the [University of Michigan](http://www.umich.edu/)'s [College of Engineering](http://www.engin.umich.edu/).
      
      At some point, I hope to update this page with more information on classes that I have taken and my experiences and thoughts on these classes.
