extends ../templates/main

block main
  h2 School
  section
    p
      |  I am currently an undergraduate studying
      a(href='http://www.eecs.umich.edu/cse/') computer science
      |  at the
      a(href='http://www.umich.edu/') University of Michigan
      |  's
      a(href='http://www.engin.umich.edu/') College of Engineering
      |  .
    p
      |  At some point, I hope to update this page with more information on classes that I have taken and my experiences and thoughts on these classes.
