extends ../../templates/main

block main
  h2 Yahoo Data Mining Competition
  section
    p
      span.date [2011.04.20]
    p
      |  Check out
      a(href='/files/datamining') my team's visualization
      |  made with the
      a(href='http://thejit.org/') JavaScript InfoVis Toolkit
      | . We took second place!
    p
      |  The competition, which took place at the University of Michigan, involved compiling data from Yahoo's music service and performing analysis on it. Although I would have liked to do more in-depth analysis, various end-of-the-semester constraints blocked that. So instead, the visualization shows color-coded average ratings across various genres of music. The visualization is interactive; you can zoom-in on a genre by clicking, and zoom-out by right clicking. Included is the python script used to build up the JSON used by the JavaScript InfoVis Toolkit for rendering.
