extends ../../templates/main

block main
  h2 Social Jam
  section
    p
      span.date [2011.03.26]
    p
      |  Social Jam is a Facebook application created by myself and fellow U of M students
      a(href='http://sharlee.net/') Sharon Lee
      |  ,
      a(href='http://kylejsummers.com/') Kyle Summers
      |  , and
      a(href='http://andrewbrobinson.com/') Andrew Robinson
      |  in just 24 hours for Facebook Camp Hackathon 2011. We took first prize at the University of Michigan!
    p
      |  Code for the client is
      a(href='https://github.com/btford/socialjam')
        |  available at my Github
        a
        |  .
