extends ../templates/main

block main
  section.grid_6
    :markdown
      ## Projects
      
      This is what I do in my spare time.

      * [Yahoo Datamining Visualization](/etc/projects/datamining)
      * [Sort.js](/etc/projects/sortjs)
      * [Social Jam](/etc/projects/socjam)
      * [jsGameLib](/etc/projects/jsgamelib)
      * [Eat Your Veggies](/etc/projects/eatyourveggies)

  section.grid_6
    :markdown
      ## Scripts
      
      Short, (hopefully) useful scripts, utilities, and tools that make my life easier.
      
      * Miscellaneous [Textmate snippets](/etc/scripts/textmate)
      * [One-Click File Unzip](/etc/scripts/oneclick) batch file for Windows

  section.grid_6
    :markdown
      ## Writings
      
      Occasionally, I write something that isn't code.
      
      ### Software Development
      
      * [About Me](/etc/writings/about)

      ### Web Development
      
      * [Duff's Device in JavaScript](/etc/snippets/duff-js)
