extends ../../../templates/main

block main
  h2 jsGameLib
  section
    p
      span.date [2011.01.14]
    p
      |  jsGameLib is (as one might expect) a JavaScript library aimed at easing the creation of games.
    p
      |  Currently, it uses
      a(href='http://raphaeljs.com/') RaphaelJS
      |  for fancy SVG graphics.
    p
      |  The code itself is not in a particularly beautiful state. The library was (hastily) created in preperation for the University of Michigan's Wolverinesoft 8th Annual Video Game Development Contest. I am in the process of a complete refactoring, and aim to update this soon.
    p
      |  The
      a(href='https://github.com/btford/jsGameLib') source code
      |  is available on GitHub. Documentation (along with a revised version) is in the works.
