extends ../../../templates/main

block main
  h2 Social Jam
  section
    p
      span.date [2011.03.26]
    :markdown
      Social Jam is a Facebook application created by myself and fellow University of Michigan
      students [Sharon Lee](http://sharlee.net/), [Kyle Summers](http://kylejsummers.com/),
      and [Andrew Robinson](http://andrewbrobinson.com/) in just 24 hours for Facebook Camp
      Hackathon 2011. We took first prize at the University of Michigan!
    
      Code for the client is [available on Github](https://github.com/btford/socialjam).
