extends ../templates/main

block main
  h2 Stop Whining About New JS Frameworks
  span(class='date') [2012.07.14]
  section
    :markdown
      I think there's a lot of misplaced irritation regarding the abundance of new JavaScript frameworks. It seems like many developers just want someone to tell them how to build web apps. The number of options is overwhelming, and they just want to make something. I can completely understand how it can be frustrating to choose something and get started.

      Here's my advice:

      Abandon the notion that there's a "right framework," and just choose one and get hacking. It's likely that any framework you choose won't be actively maintained in a year. It's likely that any framework you choose will anticipate 95% of the things you want to do, but handle the rest a bit less gracefully. There is no clear winner for absolutely all use cases, and there will likely never be.

      Don't "learn Backbone.js." For that matter, don't "learn" any other framework. Learn the philosophy behind it. The architecture is much more important than the API. Learn how the framework makes you more productive. Many of these frameworks are conceptually similar, but maybe add a new feature or account for some specific use case. Some have strong opinions, some don't. Use and read about as many different frameworks as you can. Figure out what their opinions are, and form your own. Write about your experiences.

      The web development scene is going through a seriously awesome renaissance. We finally have bigger, more reliable building blocks to make things. There are lots of smart people with interesting and vastly different ideas on ways to group these peices together to make yet larger blocks. Enjoy and appreciate this renaissance. Better yet, participate in it.